<nav id="sidebar" class="fixed-top">
    <div class="sidebar-header" routerLink="/inbox">
        <h3>
            <i class="far fa-envelope-open"></i>M@il App</h3>

        <strong>MA</strong>

    </div>
    <ul class="nav flex-column list-unstyled components">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/inbox">
                <i class="far fa-envelope"></i>Inbox</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/send">
                <i class="far fa-paper-plane"></i>Send</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/drafts">
                <i class="far fa-file-alt"></i>Drafts</a>
        </li>
    </ul>
</nav>